@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500");
@import url("../app/assets/reset.css");

$color--main: #484271;

* {
  font-family: 'Roboto', sans-serif !important;
}

:root {
  font-size: 20px;
  
  @media (max-width: 900px) {
    font-size: 16px;
  }
  
  @media (max-width: 500px) {
    font-size: 12px;
  }
  
  @media (max-height: 500px) {
    font-size: 12px;
  }
}

.--spacing_100 {
  margin: 5vh auto;
  
  @media (max-height: 600px) {
    display: none;
  }
}

.--spacing_50 {
  margin: 2.5vh auto;
  
  @media (max-height: 600px) {
    display: none;
  }
}

.home {
  position: fixed;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 5px;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/50418/2470618/Q2ADoGPaS3GS4Lc/house--dark.png");
}

.landing--view {
  height: 100vh;
  background-image: url("https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/50418/2470618/u9Ujs1dOjFjWjse/background-landing.jpg");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.landing--logo {
  width: 455px;
  height: 190px;
  background-image: url("logo.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
  cursor: pointer;
  
  @media (max-width: 500px) {
    width: 227.5px;
    height: 95px;
  }
}

@keyframes hint {
    0% {
        transform: translate(-50%, 0);
    }
    88% {
        transform: translate(-50%, 0);
    }
    91% {
        transform: translate(-50%, -10px);
    }
    93% {
        transform: translate(-50%, 5px);
    }
    94% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.down--arrow {
  width: 48px;
  height: 48px;
  background-image: url("http://icons.iconarchive.com/icons/iconsmind/outline/48/Arrow-Down-icon.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  -webkit-filter: invert(100%);
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  animation: hint 5s infinite cubic-bezier(.53, -.1, .35, 1.65);
}

.section--arrow {
  width: 48px;
  height: 48px;
  background-position: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  animation: hint 5s infinite cubic-bezier(.53, -.1, .35, 1.65);
  cursor: pointer;
  background-image: url("https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/50418/2470618/7Ojw8moVrsgjwcO/arrow--down--dark.png");
}

section {
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 530px;
  height: 100vh;
  position: relative;
  color: $color--main;
  
  &:nth-child(3n+3) {
    background-color: $color--main;
    color: white;
    
    .section--arrow {
      background-image: url("https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/50418/2470618/vq76HYQqnFVVYaE/arrow--down--light.png");
    }
    
    .home {
      background-image: url("https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/50418/2470618/MgbPxn6wRvfV3Ky/house--light.png");
    }
    
    a {
      color: white;
      
      &:hover {
        color: white;
      }
    }
  }
  &:nth-child(3n-3) {
    background-color: white;
    color: $color--main;
    
    .section--arrow {
      background-image: url("https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/50418/2470618/7Ojw8moVrsgjwcO/arrow--down--dark.png");
    }
    
    .home {
      background-image: url("https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/50418/2470618/Q2ADoGPaS3GS4Lc/house--dark.png");
    }
  }
}

.content-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  @media (max-width: 1200px) {
    width: 900px;
  }
  
  @media (max-width: 900px) {
    width: 500px;
  }
  
  @media (max-width: 500px) {
    width: 325px;
  }
  
  .para-wrapper {
    max-width: 650px;
    margin: 0 auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
  
  h1 {
    font-size: 5.5rem;
    font-weight: 100;
  }
  
  h2 {
    font-weight: 100;
  }
  
  p {
    font-size: 1rem;
    font-weight: 100;
  }
}

.naviagtion--buttons_button {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: $color--main;
  margin: 20px;
  border-radius: 50%;
  transition: padding .3s ease-in-out;
  background-position: center;
  background-size: 96px;
  background-repeat: no-repeat;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity .75s ease-in-out;
  
  @media (max-width: 500px) {
    width: 100px;
    height: 100px;
    background-size: 64px;
  }
}

.--about {
  background-image: url("http://icons.iconarchive.com/icons/icons8/windows-8/96/Animals-Bear-Track-icon.png");
}

.--work {
  background-image: url("http://icons.iconarchive.com/icons/icons8/windows-8/128/Transport-Road-Worker-icon.png");
}

.--info {
  background-image: url("http://icons.iconarchive.com/icons/icons8/windows-8/128/Very-Basic-About-icon.png");
}

.--contact {
  background-image: url("http://icons.iconarchive.com/icons/iconsmind/outline/128/Email-icon.png");
}

.--invert {
  background-color: #B7BE8C;
  -webkit-filter: invert(1);
}

.--show {
  opacity: 1 !important;
}

.navigation--buttons_desc {
  -webkit-filter: invert(1);
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: rgba(72, 66, 113, .9);
  text-align: center;
  height: 150px;
  width: 150px;
  line-height: 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  text-decoration: none;
  
  @media (max-width: 500px) {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

.back-to-top {
  position: absolute;
  display: block;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: .75rem;
  font-weight: 300;
  
  &:hover {
    text-decoration: none;
    
    &::before {
      content: "⦗ ";
      text-decoration: none;
    }
    
    &::after {
      content: " ⦘";
      text-decoration: none;
    }
  }
}

a {
  color: $color--main;
  cursor: pointer;
  
  &:hover {
    color: $color--main;
  }
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.--read-more {
  position: absolute;
  min-width: 100vw;
  top: 0;
  left: 0;
  background-color: $color--main;
  color: white;
  z-index: 2;
  opacity: 0;
  transform: translateX(100%);
  transition: all .5s ease-in-out;
  
  a {
    color: #f6e7da;
    cursor: pointer;
  }
}

.--move-in {
  transform: translateX(0);
  opacity: 1;
}

.about--more {
  background:
    linear-gradient(
      rgba(28, 26, 44, 0.75), 
      rgba(28, 26, 44, 0.75)
    ),
    url("http://upload.wikimedia.org/wikipedia/commons/5/5c/Horsforth_station.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.work--more {
  background:
    linear-gradient(
      rgba(28, 26, 44, 0.75), 
      rgba(28, 26, 44, 0.75)
    ),
    url("http://fi.ge.pgstatic.net/articles/processed/1421998364.381ab44af6c24fcfa1e118c28c377145.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.info--more {
  background:
    linear-gradient(
      rgba(28, 26, 44, 0.75), 
      rgba(28, 26, 44, 0.75)
    ),
    url("http://cdn1.vox-cdn.com/thumbor/W4g1vncafhxwCFIh8ZXyQ7I8Tyg=/cdn0.vox-cdn.com/uploads/chorus_asset/file/3753990/shia-_just_do_it.0.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact--more {
  background:
    linear-gradient(
      rgba(28, 26, 44, 0.75), 
      rgba(28, 26, 44, 0.75)
    ),
    url("http://www.nmhomeservices.co.uk/assets/images/bigimages/contact_us.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-stats {
  width: 100%;
  margin: 20px auto 30px;
  // display: block; //Fallback for none-flex browsers
  // display: flex;
  display: inline-block;
  justify-content: space-around;
  
  @media (max-width: 900px) {
    display: none;
  }
  
  .stat__item {
    position: relative;
    text-align: center;
    margin-top: calc(50px - 1em);
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 2em; 
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin: 30px;
    
    @media (max-width: 600px) {
      margin: 50px;
      margin-bottom: 100px;
    }
    
    .stat-number {
      height: 100px;
      line-height: 105px;
      color: black;
      transition: all .5s ease-in-out;
      cursor: pointer;
      
      .stat-desc {
        position: relative;
        font-size: 11px;
        line-height: 10px;
        width: 115px;
        color: $color--main;
        transition: all .5s ease-in-out;
        cursor: pointer;
      }
    }
    
    &:hover {
      
      &:before {
        background: $color--main;
        top: 0;
        box-shadow: none;
      }
      
      .stat-number {
        color: white;
        line-height: 100px;
        
        .stat-desc {
          color: $color--main;
        }
      }
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      cursor: pointer;
      z-index: -1;
      box-shadow: 2px 2px 20px 3px rgba(72,66,113,0.5);
      transition: all .5s ease-in-out;
    }
  }
}